@font-face {
  font-family: 'NanumSquare';
  font-weight: 400;
  src: url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareR.eot);
  src: url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareR.eot?#iefix) format('embedded-opentype'),
    url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareR.woff) format('woff'),
    url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareR.ttf) format('truetype');
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 700;
  src: url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareB.eot);
  src: url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareB.eot?#iefix) format('embedded-opentype'),
    url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareB.woff) format('woff'),
    url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareB.ttf) format('truetype');
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 800;
  src: url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareEB.eot);
  src: url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareEB.eot?#iefix) format('embedded-opentype'),
    url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareEB.woff) format('woff'),
    url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareEB.ttf) format('truetype');
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 300;
  src: url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareL.eot);
  src: url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareL.eot?#iefix) format('embedded-opentype'),
    url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareL.woff) format('woff'),
    url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareL.ttf) format('truetype');
}

*:not(i) {
  font-family: 'NanumSquare' !important;
  font-weight: 600;
  font-style: normal;
}

* {
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

body{
  width: 370px;
  height: 330px;
  margin: 0;
  background-color: #1f1f1f;
}

.sb > p {
  color: white;
}

.sb > .sbClose {
  color: white;
  font-size: 15px;
  position: relative;
  top: -40px;
  left: 100%;
}

.sb::after {
  content:'';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -10px;
  border-bottom: solid 10px #212121;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}

* {
  color: white;
  /* font-family: 'Gugi', cursive; */
  font-size: 13px;
}

/* .switch label input[type=checkbox]:checked+.lever {
  background-color: #802323;
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #d32f2f;
} */

.light-gray {
  background-color: #2c2c2c;
}

.inline {
  display: inline-block;
}

.footer-text {
  color: #757575;
  line-height: 10px;
}

.caret { 
  fill: #FFFFFF !important;
}

.collapsible {
  border: 0px;
}

.collapsible-header {
  background-color: #2c2c2c !important; 
  border: 1px solid #1a1a1a !important;
}

li {
  background-color: #3b3b3b !important; 
}

li>span {
  color:white !important;
}

.selected {background-color: #2c2c2c !important;}

#footer-div {
  padding: 10px;
}

#contents {
  padding: 10px;
}

.m {
  margin-left: 5px;
  margin-right: 5px;
}

#guideTitle {
  margin-left: 50px !important;
}

.mButton {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: absolute;
  top: 10px;
}

#githubLink {
  right: 10px;
}

#shopLink {
  right: 50px;
}

#helpButton {
  right: 50px;
}

.textLink {
  font-weight: bold;
  color: #5b81ff;
  cursor: pointer;
}

.mButton i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) }


::selection { background-color: #adccff; }
