body{
  width: 370px;
  height: 300px;
  margin: 0;
}

p, span {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 900;
}

.inline {
  display: inline-block;
}

#contents {
  padding: 10px;
}

.m {
  margin-left: 5px;
  margin-right: 5px;
}

.mButton {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: absolute;
  top: 10px;
}

#githubLink {
  right: 10px;
}

#shopLink {
  right: 50px;
}

.mButton i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) }
}

::selection { background-color: #adccff; }
