header.common_gnb { /* 맨 위에 있는 툴바 */
  background-color: #232323;
}

div.entryScene { /* 엔트리 장면 */
  background-color: #232323;
}

div.engineContainer { /* 왼쪽 패널(미리보기 화면, 오브젝트 선택 창) */
  background-color: #232323;
}

div.entryPlaygroundWorkspace { /* 블록 조립소 */
  background-color: #232323;
}

div.entryPlaygroundTabWorkspace { /* 탭 패널(블록, 모양, 소리, 속성 등) */
  background-color: #232323;
}

div.entryPlaygroundButtonTabWorkspace {
  background-color: #ffffff00;
}

a.btn_work_space {
  background-color: #232323 !important;
  border: 1px solid #ffffff !important;
}

 a.select_link {
   background-color: #232323 !important;
   border: 1px solid #ffffff !important;
 }

div.entryWorkspaceBoard {
  background-image: url('https://drive.google.com/uc?export=download&id=1NaFlUOlI0n1hi2RdHHZfTvvL3kBXU_lt');
  background-size: 100px 100px;
  border: 0px;
}

div.rcs-inner-container {
  background-color: #232323;
}

div.blockMenuContainer {
  background-color: #232323;
  border: 1px solid black;
  filter: drop-shadow(20px 0 30px rgba(0, 0, 0, 0.5));
}

ul.entryCategoryListWorkspace {
  background-color: #232323;
}

div.entryWorkspaceBlockMenu {
  background-color: black;
}

div.propertyContent {
  border: 0px;
}

li.entryCategoryElementWorkspace:not(.entrySelectedCategory) {
  background-color: #232323 !important;
  color: #aaaaaa;
  border: 1px solid black;
}

ul.entryCategoryListWorkspace:before {
  border: 1px solid black;
}
div.entryVariablePanelWorkspace {
  background-color: #232323;
}

a.attr_link {
  color: white !important;
}

div.unfold > a{
  background-color: #444444 !important;
}

div.entryOverlayBoard {
  background: rgba(0,0,0,0.5)
}

div.entryPlaygroundSoundEdit {
  background-color: #3a3a3a;
}

span.entryPlaygroundSoundEditText {
  color: white !important;
}

header._2OWWq-egc7teQQP7HyL9f4 {
  background-color: #232323 !important;
}

div._1x2RXYa5hQqHkrlHsAjlI_ {
  background-color: #3a3a3af0 !important;
}

div._1HR4SSimyPIq-C8Jz_Wbkm {
  background-color: #3a3a3af0 !important;
}

div._3NH1Xc4-gMGj_Q-1Ytj8Jm > input {
  color: white !important;
}

div._2cwFGEIRAFJ-2nqKus1Rd4:not(._1mwoLlWWTeIShSqFJYzXMl) {
  color: white !important;
}

div._1lMR0fqp7yeanHNxf4EfaY {
  background-color: #232323 !important;
}

div.CodeMirror-linenumber { /* 엔트리 파이썬 코드 라인 숫자 표시란 */
  background-color: #444444 !important;
}

div.CodeMirror-gutters { /* 엔트리 파이썬 코드 라인 */
  background-color: #444444 !important;
}

._1lMR0fqp7yeanHNxf4EfaY.CFgUd1hVFDY8vvAzC39f2 ._7EufyNjB5zr-AAkFvPmoz ._3n0ptOSeQRbGa6woKCgVqs ._2cwFGEIRAFJ-2nqKus1Rd4 input[type='text'], ._1lMR0fqp7yeanHNxf4EfaY.CFgUd1hVFDY8vvAzC39f2 ._520ujOQAquKf86wvGv7rS .q51x4EBiUeegCdzHBPH5y ._2cwFGEIRAFJ-2nqKus1Rd4 input[type='text'], ._1lMR0fqp7yeanHNxf4EfaY.CFgUd1hVFDY8vvAzC39f2 ._7EufyNjB5zr-AAkFvPmoz ._3n0ptOSeQRbGa6woKCgVqs ._2cwFGEIRAFJ-2nqKus1Rd4 input[type='number'], ._1lMR0fqp7yeanHNxf4EfaY.CFgUd1hVFDY8vvAzC39f2 ._520ujOQAquKf86wvGv7rS .q51x4EBiUeegCdzHBPH5y ._2cwFGEIRAFJ-2nqKus1Rd4 input[type='number'] {
  color: white !important;
}

._1lMR0fqp7yeanHNxf4EfaY.CFgUd1hVFDY8vvAzC39f2 ._7EufyNjB5zr-AAkFvPmoz ._3n0ptOSeQRbGa6woKCgVqs ._2cwFGEIRAFJ-2nqKus1Rd4 label, ._1lMR0fqp7yeanHNxf4EfaY.CFgUd1hVFDY8vvAzC39f2 ._520ujOQAquKf86wvGv7rS .q51x4EBiUeegCdzHBPH5y ._2cwFGEIRAFJ-2nqKus1Rd4 label {
  color: white !important;
}

.select_link {
  color: white !important;
}

div.CodeMirror-scroll { /* 엔트리 파이썬 코드 */
  background-color: #232323 !important;
}

pre.CodeMirror-line > span {
  color: #87b8ed !important;
}

div.CodeMirror-activeline-background {
  background-color: #373737 !important;
}

div.CodeMirror-selected {
  background-color: #505050 !important;
}

span.cm-def {
  color: #508ff4 !important;
}

span.cm-string {
  color: #7fdb8f !important;
}

span.cm-number {
  color: #e27963 !important
}

span.cm-keyword {
  color: #af63ed !important
}

span.cm-variable {
  color: white !important
}

span.cm-builtin {
  color: #e27963 !important
}

span.cm-operator {
  color: #87b8ed !important;
}

span.cm-property {
  color: #3287ff !important
}
