header.common_gnb { /* 맨 위에 있는 툴바 */
  background-color: #232323;
}

div.entryScene { /* 엔트리 장면 */
  background-color: #232323;
}

div.engineContainer { /* 왼쪽 패널(미리보기 화면, 오브젝트 선택 창) */
  background-color: #232323;
}

div.entryPlaygroundWorkspace { /* 블록 조립소 */
  background-color: #232323;
}

div.entryPlaygroundTabWorkspace { /* 탭 패널(블록, 모양, 소리, 속성 등) */
  background-color: #232323;
}

div.entryPlaygroundButtonTabWorkspace {
  background-color: #ffffff00
}

a.btn_work_space {
  background-color: #232323;
  border: 1px solid #ffffff;
}

div.entryWorkspaceBoard {
  background-image: url('https://svgshare.com/i/Adn.svg');
  background-size: 100px 100px;
  border: 0px;
}
